* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.contenedor-administracion {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.formulario-contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.columna {
    flex: 1;
    min-width: 250px;
}

.izquierda section {
    margin-bottom: 20px;
}

.foto-kebab input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.definir-precio input,.descripcion-kebab textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.descripcion-kebab textarea {
    resize: vertical;
}

.seleccion-ingredientes select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 150px;
}

.filtros {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filtro {
    margin-bottom: 20px;
}

.filtro label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.filtro input,.filtro select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filtro select {
    cursor: pointer;
}

.guardar-kebab {
    text-align: center;
    margin-top: 20px;
}

#boton-guardar-kebab {
    background-color: #5cb85c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#boton-guardar-kebab:hover {
    background-color: #4cae4c;
}

#boton-guardar-kebab:active {
    background-color: #3e8e3e;
}
