* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    padding-top: 70px;
}

.main-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

.kebab-opciones, .Seleccion-ingredientes, .ingredientes-seleccionados {
    margin-bottom: 2rem;
}

.kebab-opciones h2, .Seleccion-ingredientes h2, .ingredientes-seleccionados h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.kebab-boton {
    background-color: #e76f51;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.kebab-boton:hover {
    background-color: #d05a4d;
}

.lista-ingredientes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.ingrediente {
    background-color: #21867a;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100px;
}

.ingrediente:hover {
    background-color: #1b6a5d;
}

.lista-ingredientes .drop-area {
    background-color: #ddd;
    padding: 20px;
    border: 2px dashed #333;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    color: #555;
}
.lista-ingredientes .drop-area .ingredient {
    background-color: #333;
    color: white;
}
