body {
    background-image: url("../imagenes/durum-d-beef.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    margin: 0;
    padding: 0;
}

form {
    max-width: 500px; 
    margin: 180px auto; 
    padding: 30px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); 
}

form input[type="email"],form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0; 
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 18px; 
    box-sizing: border-box;
}

form input::placeholder {
    color: #bbb;
    font-size: 16px; 
}

form button {
    width: 100%;
    padding: 15px; 
    border: none;
    border-radius: 5px;
    background-color: #e76f51;
    color: white;
    font-size: 20px; 
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #d05a4d;
}
