body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para las opciones */
.option {
    margin: 20px 0;
}

.link {
    text-decoration: none;
    color: #333;
    display: block;
    transition: transform 0.3s ease;
}

.link:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}